In [1]:
import pandas as pd

In [3]:
df  = pd.read_csv(r'D:\UST Project\UST_Analog_automation\data\raw\CSAmp.csv')

In [4]:
df = df.rename(columns={df.columns[0]: "PMOS_W"})

In [5]:
df_long = df.melt(
    id_vars="PMOS_W",
    var_name="NMOS_W",
    value_name="Gain"
)

In [6]:
df_long["PMOS_W"] = pd.to_numeric(df_long["PMOS_W"])
df_long["NMOS_W"] = pd.to_numeric(df_long["NMOS_W"])
df_long["Gain"]   = pd.to_numeric(df_long["Gain"])

In [7]:
df_long.head()

     PMOS_W    NMOS_W   Gain
0  0.000003  0.000001  20.13
1  0.000004  0.000001  20.12
2  0.000005  0.000001  19.77
3  0.000003  0.000001  19.68
4  0.000005  0.000001  19.17

In [8]:
df_long.shape

(1521, 3)

In [9]:
df.shape

(39, 40)

In [10]:
df_long.describe()

            PMOS_W       NMOS_W         Gain
count  1521.000000  1521.000000  1521.000000
mean      0.000010     0.000011    -0.897786
std       0.000006     0.000006    14.204734
min       0.000001     0.000001   -33.960000
25%       0.000005     0.000005   -11.070000
50%       0.000010     0.000010    -3.537000
75%       0.000016     0.000016    14.470000
max       0.000020     0.000020    20.240000

In [11]:
df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521 entries, 0 to 1520
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PMOS_W  1521 non-null   float64
 1   NMOS_W  1521 non-null   float64
 2   Gain    1521 non-null   float64
dtypes: float64(3)
memory usage: 35.8 KB

In [12]:
df_long.isnull().sum()

PMOS_W    0
NMOS_W    0
Gain      0
dtype: int64

In [13]:
dff = pd.read_csv(r'D:\UST Project\UST_Analog_automation\data\processed\csamp_long.csv')